body{

    background-image:url('../img/almadina.jpg');
    /* background-repeat: no-repeat; */
    background-blend-mode:darken;

   

}
.container{

    border: 3px solid black;

}

a{

    cursor: pointer;

}